{{ if and .firstname .lastname }}
Liebe/r {{.firstname}} {{.lastname}},<br>
{{ else }}
Liebe/r Nutzer:in,<br>
{{ end }}
<br>
herzlich willkommen im leih.lokal!<br>
<br>
Deine Mitgliedsnummer ist: {{.iid}}.<br>
<br>
Hier ein paar wichtige Infos:<br>
<br>
Zur Ausleihe:<br>
<ul>
    <li>Du erhältst einen Tag vor Rückgabe eine Erinnerungsmail.</li>
    <li>Du kannst die Ausleihe ggf. per Mail oder telefonisch verlängern.</li>
    <li>Solltest du deine Nutzernummer nicht parat haben, können wir dich auch über deinen Namen identifizieren.</li>
    <li>Wenn etwas mit dem geliehenen Gegenstand nicht funktioniert oder er kaputt geht, melde dich umgehend bei uns per Mail oder Telefon.</li>
    <li>Wenn du zwei Jahre nichts leihst, werden deine Daten bei uns automatisch gelöscht.</li>
</ul>
<br>
Über das leih.lokal:<br>
<ul>
    <li>Bei uns kannst du kostenlos Gegenstände leihen.</li>
    <li>Wir sind ein ehrenamtliches Projekt und freuen uns über deine Mithilfe.</li>
    <li>Wir suchen immer nach helfenden Händen; melde dich gerne bei uns (z.B. für Ladenschichten, Reparaturen von Gegenständen, Design von Flyern und Website, etc.).</li>
    <li>Auch mit einer (kleinen) Spende hilfst du uns, denn wir arbeiten komplett spendenfinanziert.</li>
</ul>
<br>
Ansonsten wünschen wir dir jetzt viel Erfolg/Freude mit unseren Gegenständen!<br>
<br>
Liebe Grüße<br>
das leih.lokal-Team<br>
<br>
www.leihlokal-ka.de<br>
<br>
Gerwigstr. 41, 76131 Karlsruhe<br>
Öffnungszeiten: Mo, Do, Fr: 15-19, Sa: 10-14<br>
Telefon: 0721/ 4700 4551<br>
Email: info@leihlokal-ka.de<br>
<br>
<br>
<i>Diese Email wurde automatisch generiert. Sie kann daher Fehler enthalten. Wir bitten dies zu entschuldigen.</i><br>
<br>