{{ if and .firstname .lastname }}
Liebe/r {{.firstname}} {{.lastname}},<br>
{{ else }}
Liebe/r Nutzer:in,<br>
{{ end }}
<br>
um die persönlichen Daten unserer Kund:innen zu schützen löschen wir diese nachdem mehr als zwei Jahre seit dem letzten Kontakt vergangen sind. Wir freuen uns, wenn du weiter Mitglied im leih.lokal sein möchtest. In diesem Fall <strong>antworte bitte kurz auf diese Mail</strong>. Wenn wir innerhalb der nächsten 7 Tage nichts von dir hören, werden wir deine Daten aus unserem System löschen.<br>
<br>
Liebe Grüße<br>
das leih.lokal-Team<br>
<br>
www.leihlokal-ka.de<br>
<br>
Gerwigstr. 41, 76131 Karlsruhe<br>
Öffnungszeiten: Mo, Do, Fr: 15-19, Sa: 10-14<br>
Telefon: 0721/ 4700 4551<br>
Email: info@leihlokal-ka.de<br>
<br>
<br>
<i>Diese Email wurde automatisch generiert. Sie kann daher Fehler enthalten. Wir bitten dies zu entschuldigen.</i><br>
<br>